<h3><%= t('editorialView.header') %></h3>

<div class="row">
    
  <div class="col-12 col-md-8">
    <p class="mb-0">
      <%= t('editorialView.section1.text') %>
    </p>
  </div>

  <div class="col-12 col-md-4 mt-0 mt-md-3">
    <img
      src="/images/feria del libro.jpg"
      alt="<%= t('editorialView.section1.image.alt') %>"
      class="img-fluid float-end w-100"
    >
  </div>

</div>

<br>

<div class="row">

  <div class="col-12 col-md-4 order-2 order-md-1 mt-0 mt-md-3">
    <img
      src="/images/caja con libros.png"
      alt="<%= t('editorialView.section2.image.alt') %>"
      class="img-fluid float-start w-100"
    >
  </div>

  <div class="col-12 col-md-8 order-1 order-md-2">
    <p class="mb-0">
      <%= t('editorialView.section2.text') %>
    </p>
  </div>

</div>

<br>

<div class="row">

  <div class="col-12 col-md-8">
    <p class="mb-0">
      <%= t('editorialView.section3.text') %>
    </p>
  </div>

  <div class="col-12 col-md-4 mt-0 mt-md-3">
    <img
      src="/images/tramitacion.png"
      alt="<%= t('editorialView.section3.image.alt') %>"
      class="img-fluid float-end w-100"
    >
  </div>

</div>
